<main class="lista-vacantes">
    <h2>Navegacion</h2>
    <div class="botones separados">
        <a href="/editar-perfil" class="btn btn-azul">Editar perfil</a>
        <a href="/vacantes/nueva" class="btn btn-verde">Nueva vacante</a>
    </div>
</main>