<main class="contenedor">
    <form action="/reestablecer-password" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" placeholder="Tu Email" required name="email">
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer" class="btn btn-azul">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a Iniciar Sesion</a>
            <a href="/crear-cuenta">Crear nueva cuenta</a>
        </div>
    </form>
</main>